---
interface Props {
  title: string;
  description: string;
  href: string;
  src: string;
}

const { title, description, href, src } = Astro.props;
---

<article class="max-w-96">
  <a href={href}>
    <div class="mb-6 h-64">
      <img class="h-full rounded-xl object-cover object-center" src={src} />
    </div>
  </a>
  <div>
    <a
      href={href}
      class="mb-3 block text-2xl font-bold leading-6 transition-colors hover:text-blue-800 dark:hover:text-blue-300"
      >{title}<a>
        <p class="text-pretty text-gray-700 dark:text-gray-400">
          {description}<p></p>
        </p>
      </a></a>
  </div>
</article>
